<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poll submitted!</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-900 text-white">
<div class="max-w-md mx-auto mt-10">
    <div class="bg-gray-800 p-6 rounded-lg shadow-md">
        <h1 class="text-xl font-bold mb-6">Thanks for submitting the poll, you can now close that page!</h1>
    </div>
</div>
</body>
</html>
